@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #f2f2f2;
    color: #333333;
}

.container {    
    width: 1200px;
    margin: 0 auto;
    box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.2), 15px 0 15px -15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #ffffff;
    min-height: 65px;
    flex-grow: 1;
}

/*удаление меток у всех списков*/

.navigation-main-list,
.navigation-user-list,
.advantages-list,
.list-info,
.catalog-filter-list,
.btn-show-card,
.breadcrumbs,
.hotel-list,
.hotel-type,
.pagination-list,
.footer-social-links,
.hotel-buttons {
    list-style: none;
}

.navigation {    
    display: flex;
    margin-left: 71px;
    margin-right: 72px;
}

.navigation-main-list {
    margin: 0;
    padding: 0;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;
}

.navigation-item-main {
    position: relative;
    left: -9px;
}

.navigation-item-about {
    position: relative;
    left: 15px;
}

.navigation-item-catalog {
    position: relative;
    left: 31px;
}

.navigation-link-main,
.navigation-link-about,
.navigation-link-catalog {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding: 2px 9px 4px;
    cursor: pointer;
}

.navigation-link-main:hover,
.navigation-link-about:hover,
.navigation-link-catalog:hover {
    color: #756257;
}

.navigation-link-main:focus,
.navigation-link-about:focus,
.navigation-link-catalog:focus {
    color: #756257;
    outline: 3px solid #83b3d3;
    border-radius: 10px;
    padding: 2px 9px 4px;
}

.navigation-link-main:active,
.navigation-link-about:active,
.navigation-link-catalog:active {
    outline: 0;
    color: #756257;
    opacity: 0.3;
}

.navigation-link-current::before {
    position: absolute;
    right: 10px;
    bottom: -20px;
    left: 10px;
    background-color: #756257;
    height: 2px;
    content: "";
}

.navigation-user-list {    
    margin: 0;
    margin-left: auto;
    max-width: 460px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;    
}

.navigation-link-search,
.navigation-link-favourites {
    position: relative;
    outline: none;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    top: -3px;
    left: 5px;
    cursor: pointer; 
}

.circle {
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #7db54f;
    position: absolute;
    top: -4px;
    left: 17px;
    text-align: center;
}

.number {
    display: inline-block;
    vertical-align: sub;
}

.number:active {
    opacity: 0.3;
}

.navigation-link-search:focus,
.navigation-link-favourites:focus {    
    outline: 3px solid #83b3d3;
    outline-offset: 3px;
    border-radius: 10px;
}

.navigation-icon:hover {
    fill: #756257;
}

.navigation-link-search:focus .navigation-icon,
.navigation-link-favourites:focus .navigation-icon {
    fill: #756257;
}

.navigation-link-search:active .navigation-icon,
.navigation-link-favourites:active .navigation-icon {
    fill: #d6d0cc;
    outline: none;
}

.navigation-item-favourites {
    position: relative;
    top: 3px;
    right: 32px;
}

.navigation-item-search {
    position: relative;
    top: 3px;
    right: 43px;
}

.navigation-link-want {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 35px 9px 34px;
    border-radius: 4px;
    background-color: #756257;
    text-decoration: none;
}

.navigation-link-want:hover {
    background-color: #615048;
}

.navigation-link-want:focus {
    outline: 3px solid #83b3d3;
    background-color: #615048;
}

.navigation-link-want:active {
    outline: none;
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
}    

.link-logo-small {
    position: absolute;
    margin-left: 460px;
}

.main-index {    
    background-color: #ffffff;
    flex-grow: 1;
}

.background-main {
    background-image: url(../img/photos/main-background.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    height: 485px;
}

.logo-sedona {
    display: block;
    margin: 0 auto; 
    padding-top: 51px;
    padding-bottom: 26px;
}

.advantages-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-title {        
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    width: 720px;
    height: 80px;
    margin: 63px 0 23px 0;
}

.advantages-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;  
    width: 720px;
    height: 37px;
    margin: 0 0 79px 0;
}

/*центрует текст в блоках и переносит новую строку*/

.advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);    
}

.advantages-item {    
    display: flex;
    flex-wrap: wrap;
}

.advantages-list > .photo {
    grid-column: 1/4;
}

.advantages-title-info {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-white {
    background-color: rgb(131, 179, 211);
    color: #ffffff;
    flex-direction: column;
    width: 400px;
    height: 384px;
}

.advantages-photo {
    display: block;
}

.advantages-item-white .advantages-title-info,
.advantages-item-light .advantages-title-info,
.advantages-item-dark .advantages-title-info {
    margin: 98px 0 25px 0;
}

.list-info .advantages-title-info,
.advantages-item-light .advantages-title-info,
.advantages-item-dark .advantages-title-info {
    color: #000000;
}

.advantages-item-home .advantages-title-info,
.advantages-item-burger .advantages-title-info,
.advantages-item-souvenir .advantages-title-info {
    margin: 184px 0 0 0;
}

.advantages-item-white .advantages-description {
    width: 220px;
    margin: 26px 0 0 90px;
}

.advantages-item-home .advantages-description,
.advantages-item-burger .advantages-description,
.advantages-item-souvenir .advantages-description {
    width: 250px;
    margin: 20px 0 0 75px;
}

.advantages-item-light .advantages-description,
.advantages-item-dark .advantages-description {
    width: 250px;
    margin: 26px 0 0 75px;
}

.list-info {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: #333333;
    width: 100%;    
}

.advantages-item-light,
.advantages-item-home,
.advantages-item-souvenir {
    background-color: rgba(131, 179, 211, 0.12);
    flex-direction: column;
    width: 400px;
    height: 384px;
}

.advantages-item-dark {
    flex-direction: column;
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
}

.advantages-item-home {
    background-image: url(../img/logos/logo-home.svg);
    background-repeat: no-repeat;
    background-position: 163px 89px;
}

.advantages-item-burger {
    background-image: url(../img/logos/logo-burger.svg);
    background-repeat: no-repeat;
    background-position: 163px 91px;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    height: 384px;
}

.advantages-item-souvenir {
    background-image: url(../img/logos/logo-souvenir.svg);
    background-repeat: no-repeat;
    background-position: 168px 85px;
}

.hotel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;    
    text-transform: uppercase;
    color: #000000;
    width: 720px;
    margin: 91px 0 15px 0;
    height: 50px;
}

.hotel-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    margin: 0 0 73px 0;
    height: 37px;  
}

.catalog-hotel-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 12px 150px;
    color: #ffffff;
    text-decoration: none;
    background-color: #756257;
    border-radius: 4px;
    margin-bottom: 91px;
}

.catalog-hotel-link:hover {
    background-color: #615048;
}

.catalog-hotel-link:focus {
    background-color: #615048;
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
}

.catalog-hotel-link:active {
    color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.subscription {
    text-align: center;    
    display: flex;
    flex-direction: column;  
    align-items: center;
    min-height: 411px;
}

.subscription-info {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    min-height: 72px;
    margin: 0 0 26px 0;
}

.subscription-bg {
    background-image: url(../img/photos/blur-background.jpg);
    background-repeat: no-repeat;    
}

.subscription-bg .subscription-head,
.subscription-bg .subscription-info {
    color: #ffffff;
}

.subscription-form{
    display: flex;
    width: 800px;
    height: 60px;
}

.subscription-head {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 720px;
    height: 50px;
    margin: 91px 0 15px 0;
}

.subscription-field {    
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #616161;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    border: 0;
    padding-left: 22px;
    width: 600px;
}

.subscription-field:hover {
    background-color: #e5e5e5;
    color: #5c5c5c;
}

.subscription-field:focus-visible {
    background-color: #e5e5e5;
    outline: 3px solid #83b3d3;
    color: #5c5c5c;
}

.subscription-field:not(:placeholder-shown):focus {
    background-color: #ffffff;
    outline: 2px solid #000000;
    outline-offset: -2px;
    color: #000000;
}

.subscription-field:not(:placeholder-shown):invalid {
    background-color: #ffffff;
    outline: 2px solid #ff5757;
    outline-offset: -2px;
    color: #666666;    
}

.subscription-btn {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83b3d3;
    border-radius: 0 10px 10px 0;
    border: 0;
    width: 200px;  
    cursor: pointer; 
}

.subscription-btn:hover {
    background-color: #68a2ca;
}

.subscription-btn:focus {
    background-color: #68a2ca;
    outline: 3px solid #756257;
}

.subscription-btn:active {
    background-color: #68a2ca;
    color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.catalog-form-bg {
    background-image: url(../img/photos/catalog-background.jpg);
    background-repeat: no-repeat;        
}

.hotels,
.breadcrumbs,
.choice {
    color: #ffffff;
}

.hotels {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    padding: 32px 0 0 71px;
    margin-bottom: -3px;
}

.breadcrumbs {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    display: flex;
    padding-left: 73px;
}

.to-home-item {
    position: relative;
    margin-left: -5px;
}

.to-home-icon {
    fill: #ffffff;
}

.to-home-link {
    text-decoration: none;
    width: 22px;
    height: 21px;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.to-home-icon:hover {
    fill: #cedce9;
}

.to-home-link:focus {    
    outline: 3px solid #83b3d3;
    border-radius: 4px;
}

.to-home-link:focus .to-home-icon {
    fill: #ffffff;
}

.to-home-link:active .to-home-icon {
    fill: #9bb9d1;
}

.nav-arrow {
    position: relative;
    left: 8px;
    top: 8px;
}

.hotels-link-item {
    position: relative;
    left: 18px;
}

.choice {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0 0 71px;
}

.catalog-filter-group {
    border: 0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;    
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.choice-btns {
    display: flex;
    flex-direction: column;
}

.btn-show {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #83b3d3;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
}

.btn-reset {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    background-color: transparent;
    border: 0;
}

.control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.hotel-show {
    display: flex;
    width: 1057px;
    padding: 44px 0 42px 71px;
}

.hotel-find {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 192px 0 0;
}

.main-catalog {
    background-color: #ffffff;
    flex-grow: 1;
}

/*.sorting-type {
    margin-right: auto;
}*/

.select {
    padding-right: 81px;
}

.select-control {    
    font: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    border: 0;
    outline: 2px solid #e5e5e5;
    border-radius: 4px;
    color: #333333;
    height: 44px;
    width: 283px;
    background-image: url(../img/icons/arrow-down-grey.svg);
    background-repeat: no-repeat;
    background-position: 252px 19px;
    appearance: none;
    cursor: pointer;    
}

.select-control:hover,
.select-control:focus {
    outline: 2px solid #83b3d3;
}

.select-control:active {
    color: #c2c2c2;
    outline: 2px solid #e5e5e5;
    background-image: url(../img/icons/arrow-down-light.svg);
    background-repeat: no-repeat;
    background-position: 252px 19px;
}

.btn-show-card {
    display: flex;
    margin: 0;
    padding: 0;       
}

.btn-show-card-item:not(:last-child) {
    margin-right: 15px;
}

.btn-show-card-item:nth-child(1) {
    background-image: url(../img/icons/mode-tile.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-show-card-item:nth-child(2) {
    background-image: url(../img/icons/mode-slideshow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-show-card-item:nth-child(3) {
    background-image: url(../img/icons/mode-list.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-show-card-as {
    display: block;
    height: 44px;
    width: 44px;
    outline: 2px solid #e5e5e5;
    border-radius: 4px;    
}

.btn-show-card-as:nth {
    outline: 2px solid #000000;
}

.hotel-list {
    margin: 0 72px;
    padding: 0;
    border-top: 1px solid #e5e5e5;    
}

.hotel-card-image {
    margin-top: 3px;
}

.hotel-card-image:hover {
    opacity: 0.6;
}

.hotel-card-link {
    outline: none;
}

.product-card-link:focus .hotel-card-image {
    outline: 3px solid #83b3d3;
}

.hotel-card-image:active {
    opacity: 0.3;
}

.hotel-card {
    display: flex;
    height: 123px;
    padding: 28px 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-name {
    margin-left: 37px;
}

.hotel-type {
    display: grid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;    
    padding: 0;
    margin-bottom: 35px;
    grid-template-columns: 151px 160px;
    grid-template-rows: 23px 37px;
    column-gap: 8px;
    row-gap: 31px;
}

.rating {
    margin-left: auto;
}

.hotel-rating {    
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
    padding: 0;    
    min-height: 120px;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}

/*ссылка отеля - подробнее*/
.hotel-link {
    color: #000000;
    text-decoration: none;
    outline: none;
}

.hotel-link:hover {
    color: #756257;
}

.hotel-link:focus {
    outline: 3px solid #83b3d3;
    border-radius: 7px;
    margin-left: -12px;
    padding: 6px 14px 8px 12px;
}

.hotel-link:active {
    color: #d6d0cc;
    outline: none;
}


.hotel-buttons-item:nth-child(3) {
    margin-top: 6px;
}

.hotel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    padding: 8px 32px 9px 31px;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
}

.hotel-card-button:hover {
    background-color: #615048;
}

.hotel-card-button:focus {
    outline: 3px solid #83b3d3;
}

.hotel-card-button:active {
    outline: none;
    color: #90847f;
}

.favouries {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83b3d3;
    border: 0;
    border-radius: 4px;        
    padding: 8px 30px 8px 30px;
    cursor: pointer;
}

.favouries:hover {
    background-color: #68a2ca;
    outline: 1px solid #756257;
    outline-offset: -1px;    
}

.favouries:focus {
    outline: 3px solid #756257;
}

.favouries:active {
    color: #95beda;
    outline: none;
}

.green {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;    
    border: 0;
    border-radius: 4px;            
    cursor: pointer;
    background-color: #7db54e;
    padding: 8px 28px 8px 28px;
}

.green:hover {
    background-color: #6c9e42;
}

.green:focus {
    outline: 3px solid #756257;
}

.green:active {
    color: #98bb7b;
    outline: none;
}

.rating-stars {
    display: flex;
    justify-content: center;
    padding-top: 6px;
}

.star:not(:last-of-type) {
    padding-right: 7px;
}

.rating-score {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.rating-score-wraper {
    padding-top: 8px;
    text-align: center;
}

.show-more {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83b3d3;
    border-radius: 4px;
    border: 0;
    margin-left: 288px;
    width: 625px;
    height: 55px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;    
    margin: 31px 0 0 72px;
    width: 1056px;
}

.pagination-list {    
    display: grid;
    grid-template-columns: repeat(6, 55px);
    grid-template-rows: 55px;
    column-gap: 8px;
    padding: 0;
    margin: 0;    
}

.pagination-item {    
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #83b3d3;
    border-radius: 4px;
    text-align: center;
    padding-top: 14px;
    cursor: pointer;
}

.pagination-item:first-child {
    background-color: #f2f2f2;
}

.pagination-item:last-child {
    margin: 0;
}

.pagination-link {
    text-decoration: none; 
    color: #ffffff;    
}

.pagination-link.current {
    color: #000000;       
}

.quantity-selection {
    display: flex;
    margin-top: 4px;
}

.on-page {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    padding-top: 12px;
    width: 226px;
}

.quantity-choise {
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    width: 160px;    
}

.main-footer {  
    background-color: #ffffff;  
    display: flex;
    flex-grow: 1;
    min-height: 120px;
}

.footer-social-links {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 72px;
    padding-top: 49px;
    flex-wrap: wrap;
    width: 168px;   
}

.footer-social-item-twitter {
    position: relative;
    right: 9px;
}

.footer-social-item-facebook {
    position: relative;
    left: 6px;
}

.footer-social-item-youtube {    
    position: relative;
    left: 23px;
}

.footer-social-link-twitter,
.footer-social-link-facebook,
.footer-social-link-youtube {    
    outline: none;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
}

.social-icon {
    fill: #83b3d3;
}

.social-icon:hover {
    fill: #68a2ca;
}

.footer-social-link-twitter:focus,
.footer-social-link-facebook:focus,
.footer-social-link-youtube:focus {
    outline: 3px solid #83b3d3;
    outline-offset: 3px;
    border-radius: 10px;    
}

.footer-social-link-twitter:focus .social-icon,
.footer-social-link-facebook:focus .social-icon,
.footer-social-link-youtube:focus .social-icon {    
    fill: #68a2ca;    
}

.footer-social-link-twitter:active .social-icon,
.footer-social-link-facebook:active .social-icon,
.footer-social-link-youtube:active .social-icon {    
    fill: #d2e3ef;
}

.telephone {
    min-width: 720px;
    text-align: center;
    padding-top: 37px;    
}

.telephone-number {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 6px;
}

.telephone-number:hover {
    color: #756257;
}

.telephone-number:focus {    
    color: #756257;
    outline: 3px solid #83b3d3;
    outline-offset: 3px;
    border-radius: 5px;
    padding: 0 9px 6px;
}

.telephone-number:active {
    color: #d6d0cc;
}

.htmlacademy-link {    
    position: relative;
    outline: none;
    display: flex;
    width: 154px;
    height: 64px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 33px;
    top: 26px;    
}

.htmlacademy-link:focus {
    outline: 3px solid #83b3d3;
    border-radius: 8px;
}

.htmlacademy-icon:hover{
    fill: #756257;
}

.htmlacademy-link:focus .htmlacademy-icon {
    fill: #756257;    
}

.htmlacademy-link:active .htmlacademy-icon { 
    fill: #d6d0cd;
}