@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;    
}
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #f2f2f2;
    color: #333333;
}

.container {    
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
    box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.2), 15px 0 15px -15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #ffffff;    
}

/*удаление меток у всех списков*/

.navigation-list,
.advantages-list,
.list-info,
.catalog-filter-list,
.btn-show-card,
.breadcrumbs,
.hotel-list,
.hotel-type,
.pagination-list,
.footer-social-links,
.hotel-buttons {
    list-style: none;
}

.navigation {    
    display: flex;
    margin-left: 71px;
    margin-right: 72px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    /*width: 531px;*/
    display: flex;
    margin: auto 0;
}

.navigation-main > .navigation-item {
    padding-right: 33px;
} 

.navigation-user {
    margin-left: auto;
}

.navigation-user > .navigation-item {
    padding-left: 33px;    
}

.navigation-user > .navigation-item-favourites {
    padding-left: 21px; 
}

.link-logo-small {
    margin-left: 118px;
}

.navigation-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.btn-want {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 35px 9px 34px;
    border-radius: 4px;
    background-color: #756257;
}

.main-index {
    box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.2), 15px 0 15px -15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    flex-grow: 1;
}

.background-main {
    background-image: url(../img/photos/main-background.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    height: 485px;
}

.logo-sedona {
    display: block;
    margin: 0 auto; 
    padding-top: 51px;
}

.advantages-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.advantages-title {        
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    width: 720px;
    height: 80px;
    margin: 63px 0 23px 0;
}

.advantages-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;  
    width: 720px;
    height: 37px;
    margin: 0 0 79px 0;
}

/*центрует текст в блоках и переносит новую строку*/

.advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {    
    display: flex;
    flex-wrap: wrap;
}

.advantages-title-info {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-white {
    background-color: rgb(131, 179, 211);
    color: #ffffff;
    flex-direction: column;
    width: 400px;
    height: 384px;
}

.advantages-item-white .advantages-title-info,
.advantages-item-light .advantages-title-info,
.advantages-item-dark .advantages-title-info {
    margin: 98px 0 25px 0;
}

.list-info .advantages-title-info,
.advantages-item-light .advantages-title-info,
.advantages-item-dark .advantages-title-info {
    color: #000000;
}

.advantages-item-home .advantages-title-info,
.advantages-item-burger .advantages-title-info,
.advantages-item-souvenir .advantages-title-info {
    margin: 184px 0 0 0;
}

.advantages-item-white .advantages-description {
    width: 220px;
    margin: 26px 0 0 90px;
}

.advantages-item-home .advantages-description,
.advantages-item-burger .advantages-description,
.advantages-item-souvenir .advantages-description {
    width: 250px;
    margin: 20px 0 0 75px;
}

.advantages-item-light .advantages-description,
.advantages-item-dark .advantages-description {
    width: 250px;
    margin: 26px 0 0 75px;
}

.list-info {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: #333333;
    width: 100%;    
}

.advantages-item-light,
.advantages-item-home,
.advantages-item-souvenir {
    background-color: rgba(131, 179, 211, 0.12);
    flex-direction: column;
    width: 400px;
    height: 384px;
}

.advantages-item-dark {
    flex-direction: column;
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
}

.advantages-item-home {
    background-image: url(../img/logos/logo-home.svg);
    background-repeat: no-repeat;
    background-position: 163px 89px;
}

.advantages-item-burger {
    background-image: url(../img/logos/logo-burger.svg);
    background-repeat: no-repeat;
    background-position: 163px 91px;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    height: 384px;
}

.advantages-item-souvenir {
    background-image: url(../img/logos/logo-souvenir.svg);
    background-repeat: no-repeat;
    background-position: 168px 85px;
}

.hotel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;    
    text-transform: uppercase;
    color: #000000;
    width: 720px;
    margin: 91px 0 15px 0;
    height: 50px;
}

.hotel-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    margin: 0 0 73px 0;
    height: 37px;  
}

.catalog-hotel-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 17px 130px 17px 130px;    
    color: #ffffff;
    text-decoration: none;
    margin-left: 312px;
    margin-right: 313px;
    background-color: #756257;
    border-radius: 4px;
    margin-bottom: 91px;
}

.subscription {
    text-align: center;    
    display: flex;
    flex-direction: column;  
    align-items: center;
    min-height: 411px;
}

.subscription-info {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    min-height: 72px;
    margin: 0 0 26px 0;
}

.subscription-bg {
    background-image: url(../img/photos/blur-background.jpg);
    background-repeat: no-repeat;    
}

.subscription-bg .subscription-head,
.subscription-bg .subscription-info {
    color: #ffffff;
}

.subscription-form{
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 60px;
}

.subscription-head {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 720px;
    height: 50px;
    margin: 91px 0 15px 0;
}

.subscription-field {    
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgb(0, 0, 0, 0.6);
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    border: 0;
    padding-left: 22px;
}

/*указать область ввода текста email 559*60*/

.subscription-btn {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83b3d3;
    border-radius: 0 10px 10px 0;
    border: 0;    
}

.telephone-number {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.catalog-form-bg {
    background-image: url(../img/photos/catalog-background.jpg);
    background-repeat: no-repeat;        
}

.hotels,
.breadcrumbs,
.choice {
    color: #ffffff;
}

.hotels {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    padding: 32px 0 0 71px;
}

.breadcrumbs {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    padding: 5px 0 0 73px;
    display: flex;
}

.choice {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0 0 71px;
}

.catalog-filter-group {
    border: 0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;    
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.choice-btns {
    display: flex;
    flex-direction: column;
}

.btn-show {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #83B3D3;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
}

.btn-reset {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    background-color: transparent;
    border: 0;
}

.control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.hotel-show {
    display: flex;
    width: 1057px;
    height: 48px;
    margin: 0 0 0 71px;
    justify-content: space-between;
}

.btn-show-card {
    display: flex;
    margin: 0;
    padding: 0;       
}

.btn-show-card-item:nth-child(1) {
    background-image: url(../img/icons/mode-tile.svg);
    background-repeat: no-repeat;
}

.btn-show-card-item:nth-child(2) {
    background-image: url(../img/icons/mode-slideshow.svg);
    background-repeat: no-repeat;
}

.btn-show-card-item:nth-child(3) {
    background-image: url(../img/icons/mode-list.svg);
    background-repeat: no-repeat;
}

.hotel-find {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.main-catalog {
    background-color: #ffffff;
    box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.2), 15px 0 15px -15px rgba(0, 0, 0, 0.2);
}

.select-control {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    color: #333333;
    height: 48px;
    width: 287px;
}

.hotel-list {
    margin: 0;
    padding: 0;    
}

.hotel-card {
    display: flex;
    padding: 28px 72px 30px 72px;
}

.hotel-name {
    margin-left: 37px;
}

.hotel-type {
    display: grid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;    
    padding: 0;
    margin-bottom: 35px;
    grid-template-columns: 151px 160px;
    grid-template-rows: 23px 37px;
    column-gap: 8px;
    row-gap: 31px;
}

.rating {
    margin-left: auto;
}

.hotel-rating {    
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
    padding: 0;    
    min-height: 120px;
}

/*ссылка отеля внутри заголовка*/
.hotel-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}
/*ссылка отеля - подробнее*/

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 0;
}

.hotel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    padding: 8px 32px 9px 31px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 8px; 
}

.favouries {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83b3d3;
    border: 0;
    border-radius: 4px;
}

.favouries.green {
    background-color: #7DB54F;
}

.rating-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.show-more {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    border-radius: 4px;
    border: 0;
    margin-left: 288px;
    width: 625px;
    height: 55px;
}

.pagination {
    display: flex;
    justify-content: space-between;    
    margin: 31px 0 0 72px;
    width: 1056px;
}

.pagination-list {    
    display: grid;
    grid-template-columns: 55px 55px 55px 55px 55px 55px;
    grid-template-rows: 55px;
    column-gap: 8px;
    padding: 0;
    margin: 0;    
}

.pagination-item {    
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    padding-top: 14px;
}

.pagination-item:first-child {
    background-color: #f2f2f2;
}

.pagination-item:last-child {
    margin: 0;
}

.pagination-link {
    text-decoration: none; 
    color: #ffffff;
    
}

.pagination-link.current {
    color: #000000;       
}

.quantity-selection {
    display: grid;
    grid-template-columns: 226px 160px;
    grid-template-rows: 48px;    
    margin-top: 4px;
}

.on-page {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    padding-top: 12px;
}

.quantity-choise {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

/*Добавление картинок соц сетей */

.footer-social-item-twitter {
    background-image: url(../img/logos/logo-twitter.svg);
    background-repeat: no-repeat;   
}

.footer-social-item-facebook {
    background-image: url(../img/logos/logo-facebook.svg);
    background-repeat: no-repeat;
    /*margin-left: 29px;*/
}

.footer-social-item-youtube {
    background-image: url(../img/logos/logo-youtube.svg);
    background-repeat: no-repeat;    
    /*margin-left: 30px;*/
}

.htmlacademy-link {
    background-image: url(../img/logos/logo-htmlacademy.svg);
    background-repeat: no-repeat;
}

.main-footer {  
    background-color: #ffffff;  
    display: flex;
    box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.2), 15px 0 15px -15px rgba(0, 0, 0, 0.2);
}

.footer-social-links {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 72px;   
}

.telephone {
    min-width: 720px;
    margin-left: 70px;
    text-align: center;
}

.htmlacademy {
    margin-left: 53px;
}